<div class="map-btn">
  <h2>gmap</h2>
  <input id="address" type="textbox" value="検索するならここ">
  <input type="button" value="検索" onclick="codeAddress()">
  <div id="display">検索結果の緯度経度をページに表示します</div>
</div>

<div class="map-center">
    <div id='map'></div>
</div>

<style>
    #map {
      height: 600px;
      width: 600px;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfPe76FFSmPLk5qvMtqKiQz4wGnIP9oss&callback=initMap" async defer></script>