<% if @photo_image.errors.any? %>
  <div id="error_explanation">
    <h2><%= @photo_image.errors.count %>件のエラーが発生しました</h2>
    <ul>
      <% @photo_image.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">画像投稿フォーム</h5>
      <div class="form-body p-4">
      <%= render 'photo_images/form', photo_image: @photo_image %>
      </div>
    </div>
  </div>
</div>