<div class="container">
  <div style="text-align: center;">
    <%= render partial: 'photo_images/each', locals: {photo_images: @photo_images, all_ranks: @all_ranks} %>
  </div>
</div>
<!--トップに戻る画像-->
<span id="back">
  <a href="#">
    <%= image_tag asset_path("arrow.png") %>
  </a>
</span>
