/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */

@charset "UTF-8";

$enable-rounded: false;

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

body {
  padding-top: 80px;
  padding-bottom: 60px;
  background: #e9e9e9;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/duy-pham-Cecb0_8Hx-o-unsplash.jpg);
  background-size: cover;
  background-position: center;
}


.error_explanation {
  width: 450px;
  border: 2px solid #f5c6cb;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #f0f0f0;
h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #f8d7da;
    color: #721c24;
  }

  ul li {
    font-size: 15px;
    list-style: inside;
  }
}
#error_explanation {
  width: 450px;
  border: 2px solid #f5c6cb;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #f0f0f0;
h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #f8d7da;
    color: #721c24;
  }

  ul li {
    font-size: 15px;
    list-style: inside;
  }
}
#notice {
  color: #119b30;
  font-size: 20px;
}
#container{
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}
#back {
  position: fixed;
  right: 20px;
  bottom: 60px;
}
#back img {
  width: 50px;
}

/* ---- ハンバーガーアイコン ---- */
#hm-icon {
  position: fixed;
  right: 30px;
  bottom: 5px;
  z-index: 10000;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 30px;
  height: 24px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 12px;
}
.menu-trigger span:nth-child(3) {
  top: 24px;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/* ------ spメニュー ------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9999;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

// ログイン画面
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);



.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="name"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="name"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}
// 新規登録画面
.signup {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.signup-header,
.signup p {
  margin-top: 0;
  margin-bottom: 0;
}

.signup-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.signup-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.signup-container {
  background: #ebebeb;
  padding: 12px;
}

.signup p {
  padding: 12px;
}

.signup input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.signup input[type="name"],
.signup input[type="email"],
.signup input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.signup input[type="name"]:focus,
.signup input[type="email"]:focus,
.signup input[type="password"]:focus {
  border-color: #888;
}

.signup input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.signup input[type="submit"]:hover {
  background: #17c;
}

.signup input[type="submit"]:focus {
  border-color: #05a;
}

table {
  border-collapse: collapse;
  margin:auto
}

@media screen and (max-width: 600px) {
    .main-visual {
      width: 100%;
    }
    .card-title {
      text-align: left;
      font-size: 30px;
      margin-left: 20px;
    }
    .card-text {
      margin-left: 20px;
    }
    .card-width {
        width: 80%;
    }
    .btn {
      display: inline-table;
      width: max-content;
      margin: 0 auto;
    }
    .menu-trigger {
      position: relative;
      width: 5px;
      height: 24px;
    }

    .navbar-toggler {
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 2px transparent;
    }
    .impressionist_count {
      text-align: center;
      width: 20%;
      font-size: 18px;
      border-radius: 2px;
    }
    .comments-count {
      text-align: center;
      width: 20%;
      font-size: 15px;
      border-radius: 2px;
    }
    .favorite-btn {
      text-align: center;
      width: 20%;
      font-size: 15px;
      border-radius: 2px;
    }
    .comment {
      display: inline-block;
      padding: 5px 20px;
      background-color: white;
      border-radius: 10px;
      color: darkslategray;
      font-size: 20px;
    }
    .tag-name {
      font-size: 17px;
    }

}

@media screen and (max-width: 900px) {
    .card-width {
        width: 80%;
    }
    .menu-trigger {
      position: relative;
      width: 5px;
      height: 25px;
    }

}
.map-btn {
  display: flex;
  justify-content: center
}

.login_btn, .sign_up_btn {
  display: block;
  width: 100%;
}
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}