#modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.modal-content{
    background: #fff;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,0%);
}
#response-modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 40%;
    width: 100%;
    z-index: 9999;
}